In [1]:
import pandas as pd
from functools import reduce

In [13]:
GDP = pd.read_csv("GDP_data.csv")
print(GDP.head())
GDP = GDP.drop(GDP.index[:187])
OriginalGDP = 85917
GDP = GDP.rename(columns = {"Gross Domestic Product: Quarter on Quarter growth: CVM SA %":"Change"})
GDP['Change'] = pd.to_numeric(GDP['Change'], errors='coerce')
Change = [1 + (num / 100) for num in GDP["Change"]]
def multiply(x, y):
    return x * y
YearGDP = []
GDPnum = 0
for i in range(0, len(GDP), 4):
    GDPnum = 0
    if  i == 0:
        YearGDP.append(OriginalGDP)
    else:
        YearGDP.append(YearGDP[-1] * reduce(multiply, Change))
    GDPnum += 1
GDP_t = pd.DataFrame({"Year":[i for i in range(2000, 2024)], "GDP Growth":YearGDP})
GDP_t = GDP_t.drop(GDP_t.index[-2:])
GDP_t = GDP_t.set_index("Year")
GDP.head()

               Title  \
0               CDID
1  Source dataset ID
2            PreUnit
3               Unit
4       Release date

  Gross Domestic Product: Quarter on Quarter growth: CVM SA %
0                                               IHYQ
1                                                PN2
2                                                NaN
3                                                  %
4                                         10-05-2024

       Title  Change
187  2000 Q2     0.7
188  2000 Q3     0.6
189  2000 Q4     0.6
190  2001 Q1     0.9
191  2001 Q2     0.4

In [14]:
POP_t = pd.read_csv("POPt_data.csv")
POP_t = POP_t.drop(POP_t.index[:36])
POP_t = POP_t.drop(POP_t.index[-1])
POP_t = POP_t.rename(columns={"Title":"Year"})
POP_t = POP_t.set_index("Year")
POP_t

     United Kingdom population mid-year estimate
Year
2000                                    58886100
2001                                    59113000
2002                                    59365700
2003                                    59636700
2004                                    59950400
2005                                    60413300
2006                                    60827100
2007                                    61319100
2008                                    61823800
2009                                    62260500
2010                                    62759500
2011                                    63285100
2012                                    63705000
2013                                    64105700
2014                                    64596800
2015                                    65110000
2016                                    65648100
2017                                    66040200
2018                                    66435600
2019                                    66796800
2020                                    67081000
2021                                    67026300

In [15]:
EI = pd.read_csv("Energy_Data.csv")
EI = EI.drop(columns=["total final energy consumption in United Kingdom", "Units"])
EI = EI.fillna(0)
TotVal = []
for i in range(2000, 2022):
    TotVal.append(sum(EI["Value"][EI["Year"] == i]))
    EI = EI[EI["Year"] != i]
EI_t = pd.DataFrame({"Year": [i for i in range(2000, 2022)], "Value":[a / b for a, b in zip(TotVal, [OriginalGDP * reduce(lambda x, y: x * y, GDP_t["GDP Growth"][:z]) for z in range(2000, 2022)])]})
EI_t = EI_t.set_index("Year")

In [ ]:
asdf

In [37]:
REN_t = pd.DataFrame({"Year":[i for i in range(2000, 2024)], "Renewable":[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10.7, 14.2, 14.5, 20.3, 27.6, 31.5, 37.5, 33.7, 37.5, 39.5], "Fossil":[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 58.1, 50.8, 49.9, 44.7, 42.4, 40.1, 35.1, 38.6, 39.7, 32.2]})
REN_t = REN_t.drop(REN_t.index[-2:])
REN_t = REN_t.set_index("Year")
REN_t

      Renewable  Fossil
Year
2000        0.0     0.0
2001        0.0     0.0
2002        0.0     0.0
2003        0.0     0.0
2004        0.0     0.0
2005        0.0     0.0
2006        0.0     0.0
2007        0.0     0.0
2008        0.0     0.0
2009        0.0     0.0
2010        0.0     0.0
2011        0.0     0.0
2012        0.0     0.0
2013        0.0     0.0
2014       10.7    58.1
2015       14.2    50.8
2016       14.5    49.9
2017       20.3    44.7
2018       27.6    42.4
2019       31.5    40.1
2020       37.5    35.1
2021       33.7    38.6

In [17]:
IE_t = pd.read_csv("Industry.csv")
#there seems to be a problem with the file itself.

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 8

In [38]:
IND_t = pd.read_excel("IndustrialActivity.xlsx", sheet_name="Table 1")
IND_t = IND_t.drop(columns=["45 : Motor trades", "46 : Wholesale", "47 : Retail", "55-56 : Accommodation & food services", "58-63 : Information & communication", "64-66 : Finance & insurance", "69-75 : Professional, scientific & technical", "77-82 : Business administration & support services", "84 : Public administration & defence", "85 : Education", "86-88 : Health", "90-99 : Arts, entertainment, recreation & other services", "Total"])
columns = IND_t.columns.tolist()
IND_t["Total"] = IND_t.iloc[:, 1:].sum(axis=1)
IND_t

,Unnamed: 0,"01-03 : Agriculture, forestry & fishing",05-39 : Production,41-43 : Construction,49-53 : Transport & Storage (inc postal),68 : Property,Total
0,K02000001 : UNITED KINGDOM,141390,151710,377585,128600,113785,913070
1,K03000001 : GREAT BRITAIN,122845,146300,366385,125555,111345,872430
2,K04000001 : ENGLAND AND WALES,105725,135855,344395,118965,105045,809985
3,E92000001 : ENGLAND,92065,129365,329920,113500,101765,766615
4,E12000001 : NORTH EAST,3830,4625,10195,3640,2555,24845
...,...,...,...,...,...,...,...
417,N09000006 : Fermanagh and Omagh,3840,480,1165,205,195,5885
418,N09000007 : Lisburn and Castlereagh,640,410,720,235,185,2190
419,N09000008 : Mid and East Antrim,1420,380,660,155,135,2750
420,N09000009 : Mid Ulster,3310,935,1620,355,215,6435
421,N09000010 : Newry Mourne and Down,2365,615,1750,405,205,5340

In [39]:
Y = pd.read_csv("Cumulative C02 emissions Pivot Table.csv")
Year = Y.iloc[0].tolist()[51:-1]
Canada = Y.iloc[2].tolist()[51:-1]
EU = Y.iloc[3].tolist()[51:-1]
India = Y.iloc[4].tolist()[51:-1]
UK = Y.iloc[5].tolist()[51:-1]
US = Y.iloc[6].tolist()[51:-1]
Y_t = pd.DataFrame(data={"Year":Year, "Canada":Canada, "European Union (27)":EU, "India":India, "United Kingdom":UK, "Unites States":US})
Y_t = Y_t.set_index("Year")
Y_t

,Canada,European Union (27),India,United Kingdom,Unites States
Year,,,,,
2000.0,2.218888e+10,7.572400e+10,2.233140e+11,1.891345e+10,6.848298e+10
2001.0,2.274803e+10,7.945251e+10,2.269720e+11,1.990442e+10,6.906095e+10
2002.0,2.331240e+10,8.355556e+10,2.306310e+11,2.092609e+10,6.962123e+10
2003.0,2.389383e+10,8.839668e+10,2.343740e+11,2.198524e+10,7.019285e+10
2004.0,2.447352e+10,9.361402e+10,2.381280e+11,2.311034e+10,7.076627e+10
2005.0,2.504828e+10,9.949616e+10,2.418630e+11,2.429602e+10,7.133662e+10
2006.0,2.561687e+10,1.059910e+11,2.456070e+11,2.558850e+10,7.190446e+10
2007.0,2.621062e+10,1.129740e+11,2.493160e+11,2.698101e+10,7.246402e+10
2008.0,2.678743e+10,1.204760e+11,2.529400e+11,2.847044e+10,7.300896e+10
2009.0,2.733157e+10,1.283670e+11,2.562710e+11,3.008266e+10,7.350306e+10
2010.0,2.788763e+10,1.369870e+11,2.597020e+11,3.176000e+10,7.401497e+10
2011.0,2.845289e+10,1.465200e+11,2.630330e+11,3.352471e+10,7.448469e+10
2012.0,2.901867e+10,1.562990e+11,2.662910e+11,3.545041e+10,7.497216e+10
2013.0,2.958821e+10,1.662550e+11,2.694700e+11,3.744551e+10,7.544977e+10
2014.0,3.015456e+10,1.762540e+11,2.725110e+11,3.959385e+10,7.588857e+10
2015.0,3.072524e+10,1.861210e+11,2.756040e+11,4.182807e+10,7.631104e+10
2016.0,3.128293e+10,1.958860e+11,2.787020e+11,4.418273e+10,7.671047e+10
2017.0,3.184958e+10,2.058970e+11,2.818220e+11,4.660933e+10,7.709784e+10
2018.0,3.242665e+10,2.162510e+11,2.848680e+11,4.920239e+10,7.747757e+10
2019.0,3.300524e+10,2.269720e+11,2.877720e+11,5.181528e+10,7.784232e+10
2020.0,3.352808e+10,2.378860e+11,2.904020e+11,5.423684e+10,7.816858e+10
2021.0,3.406526e+10,2.492220e+11,2.932080e+11,5.691106e+10,7.851604e+10

Model

In [40]:
df = pd.concat([Y_t, GDP_t, POP_t, EI_t, REN_t], axis=0, ignore_index = False)
df

,Canada,European Union (27),India,United Kingdom,Unites States,GDP Growth,United Kingdom population mid-year estimate,Value,Renewable,Fossil
Year,,,,,,,,,,
2000.0,2.218888e+10,7.572400e+10,2.233140e+11,1.891345e+10,6.848298e+10,NaN,NaN,NaN,NaN,NaN
2001.0,2.274803e+10,7.945251e+10,2.269720e+11,1.990442e+10,6.906095e+10,NaN,NaN,NaN,NaN,NaN
2002.0,2.331240e+10,8.355556e+10,2.306310e+11,2.092609e+10,6.962123e+10,NaN,NaN,NaN,NaN,NaN
2003.0,2.389383e+10,8.839668e+10,2.343740e+11,2.198524e+10,7.019285e+10,NaN,NaN,NaN,NaN,NaN
2004.0,2.447352e+10,9.361402e+10,2.381280e+11,2.311034e+10,7.076627e+10,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.3,44.7
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.6,42.4
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.5,40.1
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.5,35.1
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.7,38.6

In [41]:
df = pd.merge(Y_t, GDP_t, on="Year")
df = pd.merge(df, EI_t, on="Year")
df = pd.merge(df, REN_t, on="Year")

In [42]:
df

,Canada,European Union (27),India,United Kingdom,Unites States,GDP Growth,Value,Renewable,Fossil
Year,,,,,,,,,
2000.0,2.218888e+10,7.572400e+10,2.233140e+11,1.891345e+10,6.848298e+10,8.591700e+04,9.783216e-143,0.0,0.0
2001.0,2.274803e+10,7.945251e+10,2.269720e+11,1.990442e+10,6.906095e+10,1.221813e+05,9.789436e-143,0.0,0.0
2002.0,2.331240e+10,8.355556e+10,2.306310e+11,2.092609e+10,6.962123e+10,1.737522e+05,9.602239e-143,0.0,0.0
2003.0,2.389383e+10,8.839668e+10,2.343740e+11,2.198524e+10,7.019285e+10,2.470904e+05,9.720775e-143,0.0,0.0
2004.0,2.447352e+10,9.361402e+10,2.381280e+11,2.311034e+10,7.076627e+10,3.513835e+05,9.755993e-143,0.0,0.0
2005.0,2.504828e+10,9.949616e+10,2.418630e+11,2.429602e+10,7.133662e+10,4.996972e+05,9.652438e-143,0.0,0.0
2006.0,2.561687e+10,1.059910e+11,2.456070e+11,2.558850e+10,7.190446e+10,7.106119e+05,9.475982e-143,0.0,0.0
2007.0,2.621062e+10,1.129740e+11,2.493160e+11,2.698101e+10,7.246402e+10,1.010551e+06,9.230670e-143,0.0,0.0
2008.0,2.678743e+10,1.204760e+11,2.529400e+11,2.847044e+10,7.300896e+10,1.437089e+06,9.171842e-143,0.0,0.0
2009.0,2.733157e+10,1.283670e+11,2.562710e+11,3.008266e+10,7.350306e+10,2.043663e+06,8.553636e-143,0.0,0.0
2010.0,2.788763e+10,1.369870e+11,2.597020e+11,3.176000e+10,7.401497e+10,2.906262e+06,8.907627e-143,0.0,0.0
2011.0,2.845289e+10,1.465200e+11,2.630330e+11,3.352471e+10,7.448469e+10,4.132952e+06,8.159379e-143,0.0,0.0
2012.0,2.901867e+10,1.562990e+11,2.662910e+11,3.545041e+10,7.497216e+10,5.877409e+06,8.320443e-143,0.0,0.0
2013.0,2.958821e+10,1.662550e+11,2.694700e+11,3.744551e+10,7.544977e+10,8.358175e+06,8.351818e-143,0.0,0.0
2014.0,3.015456e+10,1.762540e+11,2.725110e+11,3.959385e+10,7.588857e+10,1.188604e+07,7.905335e-143,10.7,58.1
2015.0,3.072524e+10,1.861210e+11,2.756040e+11,4.182807e+10,7.631104e+10,1.690295e+07,8.107588e-143,14.2,50.8
2016.0,3.128293e+10,1.958860e+11,2.787020e+11,4.418273e+10,7.671047e+10,2.403744e+07,8.258364e-143,14.5,49.9
2017.0,3.184958e+10,2.058970e+11,2.818220e+11,4.660933e+10,7.709784e+10,3.418328e+07,8.220166e-143,20.3,44.7
2018.0,3.242665e+10,2.162510e+11,2.848680e+11,4.920239e+10,7.747757e+10,4.861153e+07,8.246997e-143,27.6,42.4
2019.0,3.300524e+10,2.269720e+11,2.877720e+11,5.181528e+10,7.784232e+10,6.912973e+07,8.094514e-143,31.5,40.1
2020.0,3.352808e+10,2.378860e+11,2.904020e+11,5.423684e+10,7.816858e+10,9.830835e+07,7.404985e-143,37.5,35.1
2021.0,3.406526e+10,2.492220e+11,2.932080e+11,5.691106e+10,7.851604e+10,1.398028e+08,7.748010e-143,33.7,38.6

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [44]:
lm = LinearRegression()

In [45]:
X = df.drop(columns="United Kingdom")
y = df["United Kingdom"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [46]:
lm.fit(X_train,y_train)

LinearRegression()