In [69]:
import pandas as pd
from functools import reduce

In [78]:
GDP = pd.read_csv("GDP_data.csv")
GDP = GDP.drop(GDP.index[:187])
GDP_avg = []
for i in range(0, len(GDP), 4):
    GDP_avg.append(sum(GDP["Gross Domestic Product: Quarter on Quarter growth: CVM SA %"][i:i+4].astype(float).tolist())/4)
OriginalGDP = 85917 #million pounds
GDP_t = pd.DataFrame({"Year":[i for i in range(2000, 2024)], "GDP Growth":GDP_avg})
GDP_t = GDP_t.head(-2)

In [77]:
POP_t = pd.read_csv("POPt_data.csv")
POP_t = POP_t.drop(POP_t.index[:36])
POP_t.head(-1)

   Title United Kingdom population mid-year estimate
36  2000                                    58886100
37  2001                                    59113000
38  2002                                    59365700
39  2003                                    59636700
40  2004                                    59950400
41  2005                                    60413300
42  2006                                    60827100
43  2007                                    61319100
44  2008                                    61823800
45  2009                                    62260500
46  2010                                    62759500
47  2011                                    63285100
48  2012                                    63705000
49  2013                                    64105700
50  2014                                    64596800
51  2015                                    65110000
52  2016                                    65648100
53  2017                                    66040200
54  2018                                    66435600
55  2019                                    66796800
56  2020                                    67081000
57  2021                                    67026300

In [87]:
EI = pd.read_csv("Energy_Data.csv")
EI = EI.drop(columns=["total final energy consumption in United Kingdom", "Units"])
EI = EI.fillna(0)
TotVal = []
for i in range(2000, 2022):
    print(i)
    TotVal.append(sum(EI["Value"][EI["Year"] == i]))
    EI = EI[EI["Year"] != i]
EI_t = pd.DataFrame({"Year": [i for i in range(2000, 2022)], "Value":[a / b for a, b in zip(TotVal, [OriginalGDP * reduce(lambda x, y: x * y, GDP_t["GDP Growth"][:z]) for z in range(2000, 2022)])]})
EI_t.head(-1)

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

    Year         Value
0   2000 -9.482813e+06
1   2001 -9.488841e+06
2   2002 -9.307393e+06
3   2003 -9.422289e+06
4   2004 -9.456425e+06
5   2005 -9.356050e+06
6   2006 -9.185013e+06
7   2007 -8.947233e+06
8   2008 -8.890211e+06
9   2009 -8.290988e+06
10  2010 -8.634110e+06
11  2011 -7.908837e+06
12  2012 -8.064955e+06
13  2013 -8.095367e+06
14  2014 -7.662594e+06
15  2015 -7.858637e+06
16  2016 -8.004783e+06
17  2017 -7.967758e+06
18  2018 -7.993764e+06
19  2019 -7.845964e+06
20  2020 -7.177608e+06

In [91]:
REN_t = pd.DataFrame({"Year":[i for i in range(2014, 2024)], "Renewable":[10.7, 14.2, 14.5, 20.3, 27.6, 31.5, 37.5, 33.7, 37.5, 39.5], "Fossil":[58.1, 50.8, 49.9, 44.7, 42.4, 40.1, 35.1, 38.6, 39.7, 32.2]})
REN_t.head()

   Year  Renewable  Fossil
0  2014       10.7    58.1
1  2015       14.2    50.8
2  2016       14.5    49.9
3  2017       20.3    44.7
4  2018       27.6    42.4