In [1]:
import pandas as pd
from functools import reduce

In [48]:
GDP = pd.read_csv("GDP_data.csv")
GDP = GDP.drop(GDP.index[:187])
GDP_avg = []
OriginalGDP = 85917
for i in range(0, len(GDP), 4):
    GDP_avg.append(OriginalGDP * sum(GDP["Gross Domestic Product: Quarter on Quarter growth: CVM SA %"][i:i+4].astype(float).tolist())/4)
GDP_t = pd.DataFrame({"Year":[i for i in range(2000, 2024)], "GDP Growth":GDP_avg})
GDP_t = GDP_t.drop(GDP_t.index[-2:])
GDP_t = GDP_t.set_index("Year")
GDP_t

      GDP Growth
Year
2000   60141.900
2001   32218.875
2002   57993.975
2003   64437.750
2004   47254.350
2005   64437.750
2006   45106.425
2007   53698.125
2008 -131023.425
2009   21479.250
2010   45106.425
2011   30070.950
2012   23627.175
2013   64437.750
2014   57993.975
2015   42958.500
2016   51550.200
2017   42958.500
2018   27923.025
2019  -36514.725
2020  -66585.675
2021  236271.750

In [49]:
POP_t = pd.read_csv("POPt_data.csv")
POP_t = POP_t.drop(POP_t.index[:36])
POP_t = POP_t.drop(POP_t.index[-1])
POP_t = POP_t.rename(columns={"Title":"Year"})
POP_t = POP_t.set_index("Year")
POP_t

     United Kingdom population mid-year estimate
Year
2000                                    58886100
2001                                    59113000
2002                                    59365700
2003                                    59636700
2004                                    59950400
2005                                    60413300
2006                                    60827100
2007                                    61319100
2008                                    61823800
2009                                    62260500
2010                                    62759500
2011                                    63285100
2012                                    63705000
2013                                    64105700
2014                                    64596800
2015                                    65110000
2016                                    65648100
2017                                    66040200
2018                                    66435600
2019                                    66796800
2020                                    67081000
2021                                    67026300

In [50]:
EI = pd.read_csv("Energy_Data.csv")
EI = EI.drop(columns=["total final energy consumption in United Kingdom", "Units"])
EI = EI.fillna(0)
TotVal = []
for i in range(2000, 2022):
    TotVal.append(sum(EI["Value"][EI["Year"] == i]))
    EI = EI[EI["Year"] != i]
EI_t = pd.DataFrame({"Year": [i for i in range(2000, 2022)], "Value":[a / b for a, b in zip(TotVal, [OriginalGDP * reduce(lambda x, y: x * y, GDP_t["GDP Growth"][:z]) for z in range(2000, 2022)])]})
EI_t = EI_t.set_index("Year")
EI_t

              Value
Year
2000 -2.674219e-102
2001 -2.675919e-102
2002 -2.624749e-102
2003 -2.657150e-102
2004 -2.666777e-102
2005 -2.638470e-102
2006 -2.590237e-102
2007 -2.523181e-102
2008 -2.507101e-102
2009 -2.338116e-102
2010 -2.434878e-102
2011 -2.230346e-102
2012 -2.274373e-102
2013 -2.282949e-102
2014 -2.160904e-102
2015 -2.216190e-102
2016 -2.257404e-102
2017 -2.246963e-102
2018 -2.254297e-102
2019 -2.212616e-102
2020 -2.024135e-102
2021 -2.117900e-102

In [51]:
REN_t = pd.DataFrame({"Year":[i for i in range(2014, 2024)], "Renewable":[10.7, 14.2, 14.5, 20.3, 27.6, 31.5, 37.5, 33.7, 37.5, 39.5], "Fossil":[58.1, 50.8, 49.9, 44.7, 42.4, 40.1, 35.1, 38.6, 39.7, 32.2]})
REN_t = REN_t.drop(REN_t.index[-2:])
REN_t = REN_t.set_index("Year")
REN_t

      Renewable  Fossil
Year
2014       10.7    58.1
2015       14.2    50.8
2016       14.5    49.9
2017       20.3    44.7
2018       27.6    42.4
2019       31.5    40.1
2020       37.5    35.1
2021       33.7    38.6

In [11]:
IE_t = pd.read_csv("Industry.csv")
#there seems to be a problem with the file itself.

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 8

In [52]:
IND_t = pd.read_excel("IndustrialActivity.xlsx", sheet_name="Table 1")
IND_t = IND_t.drop(columns=["45 : Motor trades", "46 : Wholesale", "47 : Retail", "55-56 : Accommodation & food services", "58-63 : Information & communication", "64-66 : Finance & insurance", "69-75 : Professional, scientific & technical", "77-82 : Business administration & support services", "84 : Public administration & defence", "85 : Education", "86-88 : Health", "90-99 : Arts, entertainment, recreation & other services", "Total"])
columns = IND_t.columns.tolist()
IND_t["Total"] = IND_t.iloc[:, 1:].sum(axis=1)
IND_t

,Unnamed: 0,"01-03 : Agriculture, forestry & fishing",05-39 : Production,41-43 : Construction,49-53 : Transport & Storage (inc postal),68 : Property,Total
0,K02000001 : UNITED KINGDOM,141390,151710,377585,128600,113785,913070
1,K03000001 : GREAT BRITAIN,122845,146300,366385,125555,111345,872430
2,K04000001 : ENGLAND AND WALES,105725,135855,344395,118965,105045,809985
3,E92000001 : ENGLAND,92065,129365,329920,113500,101765,766615
4,E12000001 : NORTH EAST,3830,4625,10195,3640,2555,24845
...,...,...,...,...,...,...,...
417,N09000006 : Fermanagh and Omagh,3840,480,1165,205,195,5885
418,N09000007 : Lisburn and Castlereagh,640,410,720,235,185,2190
419,N09000008 : Mid and East Antrim,1420,380,660,155,135,2750
420,N09000009 : Mid Ulster,3310,935,1620,355,215,6435
421,N09000010 : Newry Mourne and Down,2365,615,1750,405,205,5340

In [89]:
Y = pd.read_csv("Cumulative C02 emissions Pivot Table.csv")
Year = Y.iloc[0].tolist()[51:-1]
Canada = Y.iloc[2].tolist()[51:-1]
EU = Y.iloc[3].tolist()[51:-1]
India = Y.iloc[4].tolist()[51:-1]
UK = Y.iloc[5].tolist()[51:-1]
US = Y.iloc[6].tolist()[51:-1]
Y_t = pd.DataFrame(data={"Year":Year, "Canada":Canada, "European Union (27)":EU, "India":India, "United Kingdom":UK, "Unites States":US})
Y_t = Y_t.set_index("Year")
Y_t

,Canada,European Union (27),India,United Kingdom,Unites States
Year,,,,,
2000.0,2.218888e+10,7.572400e+10,2.233140e+11,1.891345e+10,6.848298e+10
2001.0,2.274803e+10,7.945251e+10,2.269720e+11,1.990442e+10,6.906095e+10
2002.0,2.331240e+10,8.355556e+10,2.306310e+11,2.092609e+10,6.962123e+10
2003.0,2.389383e+10,8.839668e+10,2.343740e+11,2.198524e+10,7.019285e+10
2004.0,2.447352e+10,9.361402e+10,2.381280e+11,2.311034e+10,7.076627e+10
2005.0,2.504828e+10,9.949616e+10,2.418630e+11,2.429602e+10,7.133662e+10
2006.0,2.561687e+10,1.059910e+11,2.456070e+11,2.558850e+10,7.190446e+10
2007.0,2.621062e+10,1.129740e+11,2.493160e+11,2.698101e+10,7.246402e+10
2008.0,2.678743e+10,1.204760e+11,2.529400e+11,2.847044e+10,7.300896e+10
2009.0,2.733157e+10,1.283670e+11,2.562710e+11,3.008266e+10,7.350306e+10
2010.0,2.788763e+10,1.369870e+11,2.597020e+11,3.176000e+10,7.401497e+10
2011.0,2.845289e+10,1.465200e+11,2.630330e+11,3.352471e+10,7.448469e+10
2012.0,2.901867e+10,1.562990e+11,2.662910e+11,3.545041e+10,7.497216e+10
2013.0,2.958821e+10,1.662550e+11,2.694700e+11,3.744551e+10,7.544977e+10
2014.0,3.015456e+10,1.762540e+11,2.725110e+11,3.959385e+10,7.588857e+10
2015.0,3.072524e+10,1.861210e+11,2.756040e+11,4.182807e+10,7.631104e+10
2016.0,3.128293e+10,1.958860e+11,2.787020e+11,4.418273e+10,7.671047e+10
2017.0,3.184958e+10,2.058970e+11,2.818220e+11,4.660933e+10,7.709784e+10
2018.0,3.242665e+10,2.162510e+11,2.848680e+11,4.920239e+10,7.747757e+10
2019.0,3.300524e+10,2.269720e+11,2.877720e+11,5.181528e+10,7.784232e+10
2020.0,3.352808e+10,2.378860e+11,2.904020e+11,5.423684e+10,7.816858e+10
2021.0,3.406526e+10,2.492220e+11,2.932080e+11,5.691106e+10,7.851604e+10

Model

In [92]:
df = pd.concat([Y_t, GDP_t, POP_t, EI_t, REN_t], axis=0)
df.head()

,Canada,European Union (27),India,United Kingdom,Unites States,GDP Growth,United Kingdom population mid-year estimate,Value,Renewable,Fossil
Year,,,,,,,,,,
2000.0,2.218888e+10,7.572400e+10,2.233140e+11,1.891345e+10,6.848298e+10,NaN,NaN,NaN,NaN,NaN
2001.0,2.274803e+10,7.945251e+10,2.269720e+11,1.990442e+10,6.906095e+10,NaN,NaN,NaN,NaN,NaN
2002.0,2.331240e+10,8.355556e+10,2.306310e+11,2.092609e+10,6.962123e+10,NaN,NaN,NaN,NaN,NaN
2003.0,2.389383e+10,8.839668e+10,2.343740e+11,2.198524e+10,7.019285e+10,NaN,NaN,NaN,NaN,NaN
2004.0,2.447352e+10,9.361402e+10,2.381280e+11,2.311034e+10,7.076627e+10,NaN,NaN,NaN,NaN,NaN